---
import type { Props } from "@astrojs/starlight/props";
import AstrolightTableOfContents from "@astrojs/starlight/components/TableOfContents.astro";
---

<AstrolightTableOfContents {...Astro.props} />
<div style={{ marginTop: "20px" }}>
  <ins
    class="adsbygoogle"
    style="display:inline-block;width:268px;height:268px"
    data-ad-client="ca-pub-6049036475236211"
    data-ad-slot="3475386518"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
